@if (allLabels$ | async; as labels) {
@if (uncompletedTasks$ | async; as data){
<h4 class="text-body-secondary">Uncompleted tasks:</h4>
@for(task of data?.uncompleted;track $index){
<ul class="list-group mb-3">
  <li class="list-group-item px-2 ">
    <div class="input-group input-group-sm">
      <span class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" checked="{{task.completed_at ? 'true' : ''}}"
          id="flexCheckDefault">
      </span>
      <span class="input-group-text">
        <span class="badge rounded-pill mt-0" [ngClass]="badgeClass(task.priority)">{{task.priority}}</span>
      </span>
      @if(task.due){
      <span class="input-group-text">
        Due:
        <span class="badge rounded-pill text-bg-secondary ms-1">
          {{task.due.date | date : 'EEEE, d MMMM'}}</span>
      </span>
      }

      <span class="input-group-text">
        <div class="d-flex justify-content-center">

          @for(label of task.labels; track $index){
          <span class="badge rounded-pill text-black label mx-1 p-1 " [ngClass]="getLabelColor(label, labels )"
            disabled><i class="bi bi-tag ">{{label}}</i></span>
          }
        </div>
      </span>
    </div>
    <div class="input-group mt-1">
      <span class="input-group-text">Title:</span>
      <input type="text" class="form-control" value={{task.content}} readonly>
      <button type="button" class="btn btn-outline-secondary" routerLink="/detail">Detail</button>
      <button type="button" class="btn btn-outline-secondary">Edit</button>
      <button type="button" class="btn btn-outline-secondary" (click)="openDescription(task.id)">Note</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Edit</a></li>
        <li><a class="dropdown-item" href="#">Add Label</a></li>
        <li><a class="dropdown-item" href="#">Change Date</a></li>
        <li><a class="dropdown-item" href="#">Share</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
      </ul>
    </div>
    @if(descriptionOpenHandler === task.id){
    <div class="input-group col-12 mt-1" id="{{task.id}}">
      <span class="input-group-text">Note:</span>
      <textarea class="form-control" value="{{task.description}}" style="min-height: fit-content" readonly
        aria-label="Description"></textarea>
    </div>
    }
  </li>
</ul>
}}
}@else {
<div class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}