<h2 class="d-flex justify-content-center">
  Welcome!
</h2>
<h4 class="d-flex justify-content-center">... in the best To-Do-List app!</h4>

<div class="card text-center w-50">
  <div class="card-header">
    Need your action
  </div>
  <div class="card-body">
    <h5 class="card-title ">Are you sure you want to complete this task?</h5>
    <p class="card-text">When you confirm this task will be archived.</p>
    <div>
      <button class="btn btn-primary me-3">Yes</button>
      <button class="btn btn-danger">No</button>
    </div>
  </div>
</div>