<h1>Label edit</h1>
@if (label$ | async; as label ) {
<form #formLabelEdit="ngForm" (ngSubmit)="saveData(formLabelEdit)">
  <ul class="list-group mb-3">
    <li class="list-group-item px-2">
      <div class="input-group mb-3">
        <span class="input-group-text" id="labelname">Name</span>
        <input type="text" class="form-control" name="labelname" [(ngModel)]="model.name">
      </div>
      <div class="input-group mb-3 d-flex justify-content-center" [class]="label.name">
        <span class="input-group-text">Color</span>
        <select class="form-select" aria-label="Default select example" id="colors" name='colors'
          [(ngModel)]="label.color" [class]="label.color">
          @for ( color of colors; track $index){
          <option [ngClass]="color.name" [ngValue]="color.name">{{color.name}}
          </option>
          }
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Is favourite</span>
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" value="" [checked]="label.is_favorite"
            aria-label="Checkbox for following text input">
        </div>
      </div>
    </li>
    <li class="list-group-item px-2 ">
      @if(loadingState){
      <button class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
      </button>
      } @else{
      <div class=" d-flex justify-content-evenly">
        <button type="button" class="btn btn-primary" [routerLink]="['/label/details', label.id]">Back</button>
        <button type="submit" class="btn btn-primary" [disabled]="formLabelEdit.invalid">Save</button>
      </div>}
    </li>
  </ul>
</form>
}