<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand " href="#" (click)="getNoneTasks()">
      <h2>ToDoList</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu">
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addTask()">Task</a></li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addProject()">Project</a>
            </li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addLabel()">Label</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tasks
          </a>
          <ul class="dropdown-menu">
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getUncompletedTasks()">Uncompleted</a></li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getCompletedTasks()">Completed</a>
            </li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getAllTasks()">All</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link " aria-current="page" href="#" (click)="getProjects()">Projects</a>
        </li>
        <li>
          <a class="nav-link " aria-current="page" href="#" (click)="getLabels()">Labels</a>
        </li>
      </ul>
    </div>
    <span class="navbar-text float-end">
      {{currentDate | date: 'EEEE d-MM-YYYY'}}
    </span>
  </div>
</nav>

<div class="container mx-auto my-3 ">
  @if(showModal.page === 'none') {
  <h2 class="d-flex justify-content-center">
    Welcome!
  </h2>
  <h4 class="d-flex justify-content-center">... in the best To-Do-List app!</h4>
  }
  @if(showModal.page === 'listOfTasks'){
  @if(showModal.subpage === "uncompleted" || showModal.subpage === 'all' ){
  @if (uncompletedTasks$ | async; as data){
  <h4 class="text-body-secondary">Uncompleted tasks:</h4>
  @for(task of data?.uncompleted;track $index){
  <ul class="list-group mb-3">
    <li class="list-group-item px-2 ">
      <div class="input-group input-group-sm">
        <span class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" value="" checked="{{task.completed_at ? 'true' : ''}}"
            id="flexCheckDefault">qqq
        </span>
        <span class="input-group-text">
          <span class="badge rounded-pill mt-0" [ngClass]="badgeClass(task.priority)">{{task.priority}}</span>
        </span>
        @if(task.due){
        <span class="input-group-text">
          Due:
          <span class="badge rounded-pill text-bg-secondary ms-1">
            {{task.due.date | date : 'EEEE, d MMMM'}}</span>
        </span>
        }

        <span class="input-group-text">
          <div class="d-flex justify-content-center">
            @for(label of task.labels; track $index){
            <span class="badge rounded-pill text-black label mx-1 p-1 " ngClass="{{getLabelColor(label)}}" disabled><i
                class="bi bi-tag ">{{label}}</i></span>
            }
          </div>
        </span>
      </div>
      <div class="input-group mt-1">
        <span class="input-group-text">Title:</span>
        <input type="text" class="form-control" value={{task.content}} readonly>
        <!-- <button class="btn btn-outline-secondary" type="button">Open</button> -->
        <button type="button" class="btn btn-outline-secondary" (click)="openDescription(task.id)">Note</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Edit</a></li>
          <li><a class="dropdown-item" href="#">Add Label</a></li>
          <li><a class="dropdown-item" href="#">Change Date</a></li>
          <li><a class="dropdown-item" href="#">Share</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Delete</a></li>
        </ul>
      </div>
      @if(descriptionOpenHandler === task.id){
      <div class="input-group col-12 mt-1" id="{{task.id}}">
        <span class="input-group-text">Note:</span>
        <textarea class="form-control" value="{{task.description}}" style="min-height: fit-content" readonly
          aria-label="Description"></textarea>
      </div>
      }
    </li>
  </ul>
  }
  }}
  <!-- @if(showModal.subpage === "completed" || showModal.subpage === 'all'){ -->
  @if(showModal.subpage === "completed" || showModal.subpage === 'all'){
  @if (completedTasks$ | async ;as data){
  <h4 class="text-body-secondary">Completed tasks:</h4>
  @for(task of data.completed; track $index){
  <ul class="list-group mb-3">
    <li class="list-group-item px-2">
      <div class="input-group ">
        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
            checked="{{task.completed_at ? 'true' : ''}}"></span>

        <input type="text" class="form-control" value={{task.content}} readonly>
        <span class="input-group-text">ended:<span class="badge rounded-pill text-bg-secondary ms-3">{{task.completed_at
            |
            date:
            'dd-MM-YY hh:mm'}}</span></span>
      </div>
    </li>
  </ul>
  }
  }
  }
  }
  @if ( showModal.page === 'addTask' ){
  <h4 class=" text-body-secondary">Add new Task:</h4>
  <form #newTaskForm="ngForm" (ngSubmit)="onAddTask(newTaskForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Title</span>
      <input type="text" #title="ngModel" class="form-control" [class.is-valid]="title.valid"
        [class.is-invalid]="title.touched && title.invalid" placeholder="min 3, max 30 chars" aria-label="Title"
        aria-describedby="Title" name="title" minlength="3" maxlength="30" [(ngModel)]="newTask.content" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="Note">Note</span>
      <textarea class="form-control" placeholder="add description" name="note" aria-label="Add description"
        [(ngModel)]="newTask.description"></textarea>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center">
      @if(labels){
      <span class="input-group-text">Select Label/s</span>
      <select class="form-select" multiple aria-label="Multiple select example" id="labels" name='labels'
        [(ngModel)]="newTask.labels">
        @for(label of labels;track $index; let i = $index ){

        <option [class]="label.color" [ngValue]="label.name">
          {{label.name}}
        </option>
        }
      </select>
      }@else {
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      }
    </div>
    <div class="input-group mb-3 ">
      <span class="input-group-text">Choose project</span>
      @if(projects){
      @for(project of projects;track $index){
      <div class="btn-group m-1" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [value]="project.id" q name="btnradio" id="{{project.id}}"
          autocomplete="off" [(ngModel)]="newTask.project_id">
        <label [class]="project.color" class="btn btn-outline-dark" for="{{project.id}}">{{project.name}}</label>
      </div>

      }
      }@else {
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      }

    </div>
    <div class="input-group mb-3">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <span class="input-group-text" id="priority-set-label">Set Priority</span>
        <input type="radio" class="btn-check" name="priority" id="priority1" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="4">
        <label class="btn btn-outline-primary" for="priority1"><span class="badge rounded-pill"
            [ngClass]="badgeClass(4)">4</span></label>
        <input type="radio" class="btn-check" name="priority" id="priority2" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="3">
        <label class="btn btn-outline-primary" for="priority2"><span class="badge rounded-pill"
            [ngClass]="badgeClass(3)">3</span></label>
        <input type="radio" class="btn-check" name="priority" id="priority3" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="2">
        <label class="btn btn-outline-primary" for="priority3"><span class="badge rounded-pill"
            [ngClass]="badgeClass(2)">2</span></label>
        <input type="radio" class="btn-check" name="priority" id="priority4" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="1">
        <label class="btn btn-outline-primary" for="priority4"><span class="badge rounded-pill"
            [ngClass]="badgeClass(1)">1</span></label>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="DueDate">Due Date</span>
      @if(newTask.due_string === ''){
      <input type="date" class="form-control" id="dueDate" name="dueDate" [value]="currentDate | date: 'YYYY-MM-DD'"
        min="2024-06-25" [(ngModel)]="newTask.due_date">
      }
      <span class="input-group-text" id="DueString">Due String</span>
      @if(newTask.due_date === ''){
      <input type="text" id="dueString" name="dueString" class="form-control"
        placeholder="type time like Tomorrow, next monday" [(ngModel)]="newTask.due_string">
      }
    </div>
    <div class="input-group mb-3">


      @if(loadingState){
      <button class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
      </button>
      } @else{
      <button type="submit" class="btn btn-success" [disabled]="newTaskForm.invalid">Add Task</button>
      }
      <button type="button" class="btn btn-danger" (click)="resetTask(newTaskForm)">Reset</button>
    </div>
  </form>
  }

  @if ( showModal.page === 'addProject' ){
  <h4 class=" text-body-secondary">Add new Project:</h4>
  <form #newProjectForm="ngForm" (ngSubmit)="onAddProject(newProjectForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Name</span>
      <input type="text" #name="ngModel" class="form-control" [class.is-valid]="name.valid"
        [class.is-invalid]="name.touched && name.invalid" placeholder="min 3, max 30 chars" aria-label="Title"
        aria-describedby="Title" name="name" minlength="3" maxlength="30" [(ngModel)]="newProject.name" required>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center" [class]="newProject.name">
      <span class="input-group-text">Select color</span>
      <select class="form-select" aria-label="Default select example" id="colors" name='colors'
        [(ngModel)]="newProject.color" [class]="newProject.color">
        @for (color of colors; track $index){
        <option [ngClass]="color.name" [ngValue]="color.name">{{color.name}}
        </option>
        }
      </select>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" name="favourite" id="favourite"
        [(ngModel)]="newProject.is_favorite">
      <label class="form-check-label" for="favourite">Add to favourite</label>
    </div>
    <div class="input-group mb-3">


      @if(loadingState){
      <button class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
      </button>
      }@else {
      <button type="submit" class="btn btn-success" [disabled]="newProjectForm.invalid">Add Project</button>
      }
      <button type="button" class="btn btn-danger" (click)="resetProject(newProjectForm)">Reset</button>
    </div>
  </form>
  }

  @if( showModal.page === 'listOfProjects'){
  <h4>Projects list:</h4>
  <ul class="list-group">
    @if(allProjects$ | async; as projects){
    @for(project of projects;track project.id){
    <li class="list-group-item d-flex justify-content-between" [ngClass]="getProjectColor(project.name)">
      {{project.name}}
      @if(project.is_favorite){
      <i class="bi bi-star-fill star-filled"></i>
      }
    </li>
    }
    }@else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
  </ul>
  }
  @if( showModal.page === 'listOfLabels'){
  <h4>Labels list:</h4>
  <ul class="list-group">
    @if(allLabels$ | async ; as labels ){
    @for(label of labels;track $index){
    <li class="list-group-item d-flex justify-content-between" [ngClass]="getLabelColor(label.name)">
      {{label.name}}
      @if(label.is_favorite){
      <i class="bi bi-star-fill star-filled"></i>
      }
    </li>
    }
    } @else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
  </ul>
  }
  @if( showModal.page === 'addLabel'){
  <h4 class=" text-body-secondary">Add new Label:</h4>
  <form #newLabelForm="ngForm" (ngSubmit)="onAddLabel(newLabelForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Name</span>
      <input type="text" #name="ngModel" class="form-control" [class.is-valid]="name.valid"
        [class.is-invalid]="name.touched && name.invalid" placeholder="min 3, max 30 chars" aria-label="Title"
        aria-describedby="Title" name="name" minlength="3" maxlength="30" [(ngModel)]="newLabel.name" required>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center" [class]="newLabel.name">
      <span class="input-group-text">Select color</span>
      <select class="form-select" aria-label="Default select example" id="colors" name='colors'
        [(ngModel)]="newLabel.color" [class]="newLabel.color">
        @for ( color of colors; track $index ; let idx = $index){
        <option [ngClass]="color.name" [ngValue]="color.name">{{color.name}}
        </option>
        }
      </select>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" name="favourite" id="favourite"
        [(ngModel)]="newLabel.is_favorite">
      <label class="form-check-label" for="favourite">Add to favourite</label>
    </div>
    <div class="input-group mb-3">


      @if(loadingState){
      <button class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
      </button>
      } @else {
      <button type="submit" class="btn btn-success" [disabled]="newLabelForm.invalid">Add Label</button>
      }
      <button type="button" class="btn btn-danger" (click)="resetLabel(newLabelForm)">Reset</button>
    </div>
  </form>
  }
</div>
@if(showCompletionMessage){
<div class="toast-container bottom-0 end-0 p-3">
  <div class="toast align-items-center  border-0 fade show "
    [class]="completionSuccess ? 'bg-success-subtle' : 'bg-danger-subtle'" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <p>{{message}}</p>
      </div>
      <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>
}