.violet {
	background-color: #af38eb;
}

.berry-red {
	background-color: #b8256f;
}

.green {
	background-color: #299438;
}

.yellow {
	background-color: #fad000;
}

.red {
	background-color: #db4035;
}
.orange {
	background-color: #ff9933;
}
.olive_green {
	background-color: #afb83b;
}
.lime_green {
	background-color: #7ecc49;
}
.mint_green {
	background-color: #6accbc;
}
.teal {
	background-color: #158fad;
}
.sky_blue {
	background-color: #14aaf5;
}
.light_blue {
	background-color: #96c3eb;
}
.blue {
	background-color: #4073ff;
}
.grape {
	background-color: #884dff;
}
.lavender {
	background-color: #eb96eb;
}
.magenta {
	background-color: #e05194;
}
.salmon {
	background-color: #ff8d85;
}
.charcoal {
	background-color: #808080;
}
.grey {
	background-color: #b8b8b8;
}
.taupe {
	background-color: #ccac93;
}
