<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand " href="#" (click)="getNoneTasks()">
      <h2>ToDoList</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu">
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addTask()">Task</a></li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addProject()">Project</a>
            </li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="addLabel()">Label</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tasks
          </a>
          <ul class="dropdown-menu">
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getUncompletedTasks()">Uncompleted</a></li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getCompletedTasks()">Completed</a>
            </li>
            <li class="ps-3"><a class="dropdown-item " href="#" (click)="getAllTasks()">All</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link " aria-current="page" href="#" (click)="getProjects()">Projects</a>
        </li>
        <li>
          <a class="nav-link " aria-current="page" href="#" (click)="getLabels()">Labels</a>
        </li>
      </ul>
    </div>
    <span class="navbar-text float-end">
      {{currentDate | date: 'EEEE d-MM-YYYY'}}
    </span>
  </div>
</nav>
<div class="container mx-auto my-3 ">
  @if(showModal.page === 'none') {
  <h2 class="d-flex justify-content-center">
    Welcome!
  </h2>
  <h4 class="d-flex justify-content-center">... in the best To-Do-List app!</h4>
  }
  @if(showModal.page === 'listOfTasks'){
  @if(showModal.subpage === "uncompleted" || showModal.subpage === 'all' ){
  @if (uncompletedTasks$ | async; as data){
  <h4 class="text-body-secondary">Uncompleted tasks:</h4>
  <ul class="list-group mb-3" *ngFor="let task of data?.uncompleted">
    <li class="list-group-item px-2 ">
      <div class="input-group input-group-sm">
        <span class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" value="" checked="{{task.completed_at ? 'true' : ''}}"
            id="flexCheckDefault">
        </span>
        <span class="input-group-text">
          <span class="badge rounded-pill mt-0" [ngClass]="badgeClass(task.priority)">{{task.priority}}</span>
        </span>
        @if(task.due){
        <span class="input-group-text">
          Due:
          <span class="badge rounded-pill text-bg-secondary ms-1">
            {{task.due.date | date : 'EEEE, d MMMM'}}</span>
        </span>
        }

        <span class="input-group-text">
          <div class="d-flex justify-content-center">
            <span class="badge rounded-pill text-black label mx-1 p-1 " ngClass="{{getLabelColor(label)}}"
              *ngFor=" let label of task.labels" disabled><i class="bi bi-tag ">{{label}}</i></span>
          </div>
        </span>
      </div>
      <div class="input-group mt-1">
        <span class="input-group-text">Title:</span>
        <input type="text" class="form-control" value={{task.content}} readonly>
        <!-- <button class="btn btn-outline-secondary" type="button">Open</button> -->
        <button type="button" class="btn btn-outline-secondary" (click)="openDescription(task.id)">Note</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Edit</a></li>
          <li><a class="dropdown-item" href="#">Add Label</a></li>
          <li><a class="dropdown-item" href="#">Change Date</a></li>
          <li><a class="dropdown-item" href="#">Share</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Delete</a></li>
        </ul>
      </div>
      @if(descriptionOpenHandler === task.id){
      <div class="input-group col-12 mt-1" id="{{task.id}}">
        <span class="input-group-text">Note:</span>
        <textarea class="form-control" value="{{task.description}}" style="min-height: fit-content" readonly
          aria-label="Description"></textarea>
      </div>
      }
    </li>
  </ul>
  }}
  <!-- @if(showModal.subpage === "completed" || showModal.subpage === 'all'){ -->
  @if(showModal.subpage === "completed" || showModal.subpage === 'all'){
  @if (completedTasks$ | async ;as data){
  <h4 class="text-body-secondary">Completed tasks:</h4>
  <ul class="list-group mb-3" *ngFor="let task of data.completed ">
    <li class="list-group-item px-2">
      <div class="input-group ">
        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
            checked="{{task.completed_at ? 'true' : ''}}"></span>

        <input type="text" class="form-control" value={{task.content}} readonly>
        <span class="input-group-text">ended:<span class="badge rounded-pill text-bg-secondary ms-3">{{task.completed_at
            |
            date:
            'dd-MM-YY hh:mm'}}</span></span>
      </div>
    </li>
  </ul>
  }
  }
  }
  @if ( showModal.page=== 'addTask' ){
  <h4 class=" text-body-secondary">Add new Task:</h4>
  <form #newTaskForm="ngForm" (ngSubmit)="onAddTask(newTaskForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Title</span>
      <input type="text" #title="ngModel" class="form-control"
        [class]="title.valid || title.pristine ? 'is-valid' : 'is-invalid'" placeholder="max 40 chars"
        aria-label="Title" aria-describedby="Title" name="title" maxlength="30" [(ngModel)]="newTask.content" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="Note">Note</span>
      <textarea class="form-control" placeholder="add description" name="note" aria-label="Add description"
        [(ngModel)]="newTask.description"></textarea>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center">

      <select class="form-select" multiple aria-label="Multiple select example" id="labels" name='labels'
        [(ngModel)]="newTask.labels">
        <option [class]="label.color" *ngFor="let label of labels;  index as i" [ngValue]="label.name">{{label.name}}
        </option>
      </select>
    </div>
    <div class="input-group mb-3 ">
      <div class="btn-group m-1" role="group" aria-label="Basic radio toggle button group"
        *ngFor="let project of projects; index as i">
        @if(i !== 0){
        <input type="radio" class="btn-check" [value]="project.id" name="btnradio" id="{{project.id}}"
          autocomplete="off" [(ngModel)]="newTask.project_id">
        <label [class]="project.color" class="btn btn-outline-secondary" for="{{project.id}}">{{project.name}}</label>
        }
      </div>

    </div>
    <div class="input-group mb-3">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="priority" id="priority1" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="4">
        <label class="btn btn-outline-primary" for="priority1"><span class="badge rounded-pill"
            [ngClass]="badgeClass(4)">4</span></label>

        <input type="radio" class="btn-check" name="priority" id="priority2" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="3">
        <label class="btn btn-outline-primary" for="priority2"><span class="badge rounded-pill"
            [ngClass]="badgeClass(3)">3</span></label>

        <input type="radio" class="btn-check" name="priority" id="priority3" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="2">
        <label class="btn btn-outline-primary" for="priority3"><span class="badge rounded-pill"
            [ngClass]="badgeClass(2)">2</span></label>
        <input type="radio" class="btn-check" name="priority" id="priority4" autocomplete="off"
          [(ngModel)]="newTask.priority" [value]="1">
        <label class="btn btn-outline-primary" for="priority4"><span class="badge rounded-pill"
            [ngClass]="badgeClass(1)">1</span></label>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="DueDate">Due Date</span>
      @if(newTask.due_string === ''){
      <input type="date" class="form-control" id="dueDate" name="dueDate" [value]="currentDate | date: 'YYYY-MM-DD'"
        min="2024-06-25" [(ngModel)]="newTask.due_date">
      }
      <span class="input-group-text" id="DueString">Due String</span>
      @if(newTask.due_date === ''){
      <input type="text" id="dueString" name="dueString" class="form-control"
        placeholder="type time like Tomorrow, next monday" [(ngModel)]="newTask.due_string">
      }
    </div>
    <div class="input-group mb-3">

      <button type="submit" class="btn btn-success">Add Task</button>
      <button type="button" class="btn btn-danger" (click)="newTaskForm.resetForm(defaultValue)">Reset</button>
    </div>
  </form>
  }

  @if ( showModal.page === 'addProject' ){
  <h4 class=" text-body-secondary">Add new Project:</h4>
  <form #newProjectForm="ngForm" (ngSubmit)="onAddProject(newProjectForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Name</span>
      <input type="text" #name="ngModel" class="form-control"
        [class]="name.valid || name.pristine ? 'is-valid' : 'is-invalid'" placeholder="max 30 chars" aria-label="Title"
        aria-describedby="Title" name="name" maxlengtqh="30" [(ngModel)]="newProject.name" required>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center" [class]="newProject.name">

      <select class="form-select" aria-label="Default select example" id="colors" name='colors'
        [(ngModel)]="newProject.color" [class]="newProject.color">
        <option [ngClass]="color.name" *ngFor="let color of colors" [ngValue]="color.name">{{color.name}}
        </option>
      </select>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" name="favourite" id="favourite"
        [(ngModel)]="newProject.is_favorite">
      <label class="form-check-label" for="favourite">Add to favourite</label>
    </div>
    <div class="input-group mb-3">

      <button type="submit" class="btn btn-success">Add Project</button>
      <button type="button" class="btn btn-danger"
        (click)="newProjectForm.resetForm(defaultProjectValue)">Reset</button>
    </div>
  </form>

  }

  @if( showModal.page === 'listOfProjects'){
  <h4>Projects list:</h4>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" [ngClass]="getProjectColor(project.name)"
      *ngFor="let project of allProjects$ | async">
      {{project.name}}
      @if(project.is_favorite){
      <i class="bi bi-star-fill star-filled"></i>
      }
    </li>
  </ul>

  }
  @if( showModal.page === 'listOfLabels'){
  <h4>Labels list:</h4>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" [ngClass]="getLabelColor(label.name)"
      *ngFor="let label of allLabels$ | async">
      {{label.name}}
      @if(label.is_favorite){
      <i class="bi bi-star-fill star-filled"></i>
      }
    </li>
  </ul>

  }
  @if( showModal.page === 'addLabel'){
  <h4 class=" text-body-secondary">Add new Label:</h4>
  <form #newLabelForm="ngForm" (ngSubmit)="onAddLabel(newLabelForm)">
    <div class="input-group mb-3">
      <span class="input-group-text" id="Title">Name</span>
      <input type="text" #name="ngModel" class="form-control"
        [class]="name.valid || name.pristine ? 'is-valid' : 'is-invalid'" placeholder="max 30 chars" aria-label="Title"
        aria-describedby="Title" name="name" maxlengtqh="30" [(ngModel)]="newLabel.name" required>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center" [class]="newLabel.name">

      <select class="form-select" aria-label="Default select example" id="colors" name='colors'
        [(ngModel)]="newLabel.color" [class]="newLabel.color">
        <option [ngClass]="color.name" *ngFor="let color of colors" [ngValue]="color.name">{{color.name}}
        </option>
      </select>
    </div>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch" name="favourite" id="favourite"
        [(ngModel)]="newLabel.is_favorite">
      <label class="form-check-label" for="favourite">Add to favourite</label>
    </div>
    <div class="input-group mb-3">

      <button type="submit" class="btn btn-success">Add Label</button>
      <button type="button" class="btn btn-danger" (click)="newLabelForm.resetForm(defaultLabelValue)">Reset</button>
    </div>
  </form>
  }
</div>