<h4>Labels list:</h4>
<div class="container ">


  @if(allLabels$ | async ; as labels ){
  @for(label of labels;track $index){
  <!-- <li class="list-group-item d-flex justify-content-between" [ngClass]="getLabelColor(label.name, labels)">
  {{label.name}}
  @if(label.is_favorite){
  <i class="bi bi-star-fill star-filled"></i>
  }
</li> -->
  <!-- <button type="button" class="btn btn-outline-secondary">Detail</button>
<button type="button" class="btn btn-outline-secondary">Edit</button> -->
  <div class="input-group  mt-1 ">
    <span class="input-group-text ">
      @if(label.is_favorite){
      <i class="bi bi-star-fill star-filled"></i>
      }@else {
      <i class="bi bi-star-fill star"></i>
      }
    </span>
    <span class="input-group-text flex-fill d-flex justify-content-center  ">
      <div class="d-flex justify-content-center">
        <span class="badge rounded-pill text-black label mx-1 p-2  " [ngClass]="getLabelColor(label.name, labels )"
          disabled><i class="bi bi-tag ">{{label.name}}</i></span>
      </div>
    </span>
    <!-- <input type="text" class="form-control" [ngClass]="getLabelColor(label.name, labels)" value={{label.name}} readonly> -->
    <button type="button" class="btn btn-outline-secondary " [routerLink]="['/label/details', label.id]">Detail</button>
    <button type="button" class="btn btn-outline-secondary ">Edit</button>
  </div>


  }
  } @else {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
</div>